@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#282c64] text-white px-6 py-2 rounded-md hover:bg-[#363b7d] transition duration-300;
  }
  
  .btn-secondary {
    @apply bg-[#9064ac] text-white px-6 py-2 rounded-md hover:bg-[#a77bc0] transition duration-300;
  }
}